@import "bootstrap-sprockets";
@import "bootstrap";
@import "**/*";

main {
  @extend .container;
  padding-top: 40px;
  padding-bottom: 80px;
  width: 100%;
}

td {
  vertical-align: middle !important;
}

.forum-post-panel {
  margin-bottom: 1em;
}

.alert {
  margin-right: 2em;
}
