// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forum .forum-post-panel {
  margin-bottom: 1em;
}

.forum.media-list li img.avatar {
  display: block;
  margin: 0 auto;
}

.forum.media-list li .user-info {
  text-align: center;
  width: 8em;
}

@media (max-width: 760px) {
    .forum.media-list li .user-info {
        float: none;
        width: 100%;
        margin-bottom: 1em;
    }
}

.mypost {
  min-height: 150px;
}

.forum.table > tbody > tr > td {
  vertical-align: middle;
}

.forum .fa {
  width: 1em;
  text-align: center;
}

.forum.table th.cell-stat {
  width: 6em;
}

.forum.table th.cell-stat-2x {
  width: 14em;
}

label.radio-inline > input {
  display: none;
  width: 28px;
  height: 28px;
}

label.radio-inline > span {
  margin-left: -20px;
}

label.radio-inline .glyphicon {
  font-size: 28px;
}

label.radio-inline > input + span {
  display: inline-block;
  padding: 0 0 0 0px;
}

label.radio-inline > input:checked + span {
  color: #337AB7;
  display: inline-block;
  padding: 0 0 0 0px;
}

td > span.glyphicon {
  font-size: 28px;
}
